.dp-modal {
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 10000;

}

.dp-cal-header {
    background-color: $color-gray-2;
}

.dp-cal-footer {
    background-color: $color-primary-dark;
}

.dp-cal-month,
.dp-cal-year {
    color: $color-white;
}

.dp-days {
    background-color: $color-gray-3;
}

.dp-day {
    color: $color-white;
}

.dp-edge-day {
    color: $color-gray-5;
}

.dp-day-today::after {
    border-right-color: $color-primary-superdark;
    border-top-color: $color-primary-superdark;
}

.dp-close:hover,
.dp-close:focus,
.dp-clear:hover,
.dp-clear:focus,
.dp-today:hover,
.dp-today:focus,
.dp-next:hover,
.dp-next:focus,
.dp-prev:hover,
.dp-prev:focus,
.dp-cal-month:focus,
.dp-cal-month:hover,
.dp-cal-year:hover,
.dp-cal-year:focus,
.dp-day:hover,
.dp-month:hover,
.dp-year:hover,
.dp-current:focus,
.dp-day:focus,
.dp-month:focus,
.dp-year:focus {
    background-color: $color-primary-light;
}

.dp-current,
.dp-selected,
.dp-selected:hover,
.dp-selected:focus,
.dp-day-today {
    background-color: $color-primary-dark;
}



.dp-modal .dp {
    animation: scale 0.2s;

    &::before {
        background: linear-gradient(-90deg, $color-primary-light, $color-primary-dark);
    }
}