.btn {
    border: none;
    border-radius: 2px;
    color: $font-color-light;
    cursor: pointer;
    font-size: $m-size;
    font-weight: bold;
    margin: 10px;
    width: 100px;
    height: 50px;
    text-transform: uppercase;
    box-shadow: 3px 4px 3px 2px rgba(0, 0, 0, 0.75);
    transition: all .3s;

    &:focus {
        outline: none;
    }


}