.clock {
    color: $font-color--light;
    font-size: $xl-size;
    font-family: $f-family-clock;
    margin: 40px auto;

    &__controls {
        display: flex;
        flex-direction: row;

        &--start {
            @include btn-click($btn-start-bgc-color);
        }

        &--reset {
            @include btn-click($btn-reset-bgc-color);
        }

        &--pause {
            @include btn-click($btn-pause-bgc-color);
            color: $font-color--dark;
        }

        &--stop {
            @include btn-click($btn-stop-bgc-color);
        }
    }
}

.activitiy-title {
    color: $font-color--highlight;
    font-size: $l-size;
    font-family: $f-family-title;
    font-style: italic;
    text-shadow: $text-shadow;
}