.input {
    height: $l-btn-height;
    font-size: $s-size;
    background-color: $bgc-color--input;
    color: $font-color--light;
    border: none;
    outline: none;

    &[type="text"] {
        padding: 15px;
        margin-bottom: 10px;
    }

    &--wide {
        width: 100%;
    }
}

select {
    padding-left: 15px;
}

.activities__show-form {
    @include btn-click($btn-start-bgc-color);
    width: $l-btn-height;
    border-radius: 50%;
    align-self: flex-end;
}