body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    // overflow: hidden;
}

.wrapper {
    display: flex;
    flex-shrink: 1;

    flex-grow: 1;
    height: calc(100vh - #{$header-height});
}

.activities {
    position: relative;
    // flex-basis: 30%;
    width: 450px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    // box-shadow: $shadow;
    padding: 20px 30px 20px 20px;
    background-color: $bgc-color--light;
    z-index: 1;
    // overflow: hidden;
    flex-shrink: 1;

    // overflow: auto;
    // overflow-x: hidden;

    transition: .3s;

    &--collapse {
        margin-left: -420px;
        overflow: hidden;
    }

    &__list {
        font-family: $f-family-list;
        list-style: none;
        margin: 20px;
        flex-shrink: 1;


        &-box {
            flex-basis: 100%;
            margin-right: 20px;
            overflow: auto;
            overflow-x: hidden;
            flex-shrink: 1;

        }

        li {
            border-radius: 2px;
            cursor: pointer;
            display: flex;
            font-size: $m-size;
            color: $font-color--light;
            padding: 10px;

            &.active {
                color: $font-color--highlight;
                font-style: italic;
            }
        }
    }

    &__show-form {
        vertical-align: flex-end;
    }
}

.aside__title {
    position: absolute;
    top: 40%;
    right: -50px;
    height: 30px;
    width: 130px;
    line-height: 30px;
    padding: 0 15px;
    transform: rotate(90deg);
    background-color: $btn-reset-bgc-color;
    cursor: pointer;
    text-transform: uppercase;
    font-size: $xs-size;
    color: $font-color--light;

    &--collapse {
        transform: rotate(-90deg);
    }
}

.form__wrapper {
    display: flex;
    flex-basis: 100%;
    justify-content: flex-end;
}

main {
    display: flex;
    flex-direction: column;
    // flex-basis: 70%;
    flex-grow: 1;
}