.wrapper {
    display: flex;
    height: 100vh;
}

.activities {
    flex-basis: 30%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    box-shadow: $shadow;
    padding: 20px;
    background-color: $bgc-color--light;
    z-index: 1;
    overflow-y: auto;

    &__list {
        flex-basis: 100%;
        font-family: $f-family-list;
        list-style: none;
        margin: 20px;

        li {
            border-radius: 2px;
            cursor: pointer;
            display: flex;
            font-size: $m-size;
            color: $font-color--light;
            padding: 10px;

            &.active {
                color: $font-color--highlight;
                font-style: italic;
            }
        }
    }

    &__show-form {
        vertical-align: flex-end;
    }
}

.form__wrapper {
    display: flex;
    flex-basis: 100%;
    justify-content: flex-end;
}

main {
    display: flex;
    flex-direction: column;
    flex-basis: 70%;
    height: 100vh;
}

.clock__wrapper {
    background-color: $bgc-color--dark;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 50%;
    transition: flex-basis .3s;
}

.clock__wrapper.history__wrapper--collapse {
    flex-basis: 99%;
}



.history {
    &__wrapper {
        position: relative;
        flex-basis: 50%;
        overflow-y: auto;
        background-color: #191E2A;
        color: $font-color--light;
        padding: 40px;
        border-top: 1px solid $bgc-color--light;
        transition: flex-basis .3s;

        &--collapse {
            flex-basis: 5%;
            padding: 0;
            overflow: hidden;
        }
    }

    &-title__box {
        position: absolute;
        top: 0;
        right: 0;
        text-transform: uppercase;
        font-size: $xs-size;
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
        background-color: $btn-reset-bgc-color;
        color: $font-color--light;
    }

    &__filters {
        margin-right: 20px;

        &__form {
            margin: 20px 0;
            display: flex;
        }

        &__title {
            color: $font-color--highlight;
            margin-bottom: 5px;
        }
    }

    &__activity_name {
        flex-basis: 70%;

    }

    &__activity_date {
        font-size: $xs-size;
        font-style: italic;
        color: #88919C;
        flex-basis: 30%;
    }

    &__list {
        list-style: none;
        display: flex;
        max-width: 700px;
        flex-direction: column;

        li {
            background-color: $bgc-color--light;
            display: flex;
            padding: 20px;
            margin-bottom: 5px;
        }

        &__title {
            background-color: $bgc-color--dark;
            color: $font-color--highlight;
            list-style: none;
            max-width: 700px;
            display: flex;
            padding: 10px 20px;
            margin-bottom: 5px;

            &--date {
                flex-basis: 30%
            }

            &--name {
                flex-basis: 70%
            }
        }
    }
}

.fa-angle-down {
    font-size: $m-size;
    margin-left: 20px;
    cursor: pointer;
}