.popup {
    background-color: $bgc-color--light;
    border-radius: 2px;
    padding: 20px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    margin-top: 100px;

    &__wrapper {
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 999;

        &--flex {
            display: flex;
            justify-content: center;
        }
    }

    &__title {
        font-family: $f-family-list;
        font-weight: 400;
        font-size: $m-size;
        color: $font-color--light;
        margin-bottom: 15px;
    }
}