@mixin btn-click($color) {
    background-color: $color;
    transition: .3s ease;

    &:hover {
        background-color: lighten($color, 5%);
    }

    &[disabled] {
        background-color: darken($color, 10%);
    }

    &[disabled] {
        cursor: default;
    }

    &:active {
        transform: translate(3px, 4px);
        background-color: lighten($color, 5%);
    }
}