@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

$f-family-basic: 'Lato',
sans-serif;

$bgc-color--dark: #363637;
$btn-start-bgc-color: #28A745;
$btn-pause-bgc-color: #FFC107;
$btn-stop-bgc-color: #DC3545;
$btn-reset-bgc-color: #17A2B8;
$font-color-light: #e7e7e7;
$font-color-dark: #363637;

$s-size: 1rem;
$m-size: 1.2rem;
$l-size: 2.8rem;
$xl-size: 3.6rem;

$btn-height: 50px;