@import url('https://fonts.googleapis.com/css?family=Fira+Code|Lato|Montserrat:400|Open+Sans|Karla&display=swap');

$f-family-basic: 'Open Sans',
sans-serif;
$f-family-clock: 'Karla',
monospace;
$f-family-list: 'Montserrat',
sans-serif;
$f-family-title: 'Fira Code',
monospace;

$bgc-color--dark: #10131c;
$bgc-color--light: #242F3C;
$bgc-color--input: #3A4C61;
$btn-start-bgc-color: #28A745;
$btn-pause-bgc-color: #FFC107;
$btn-stop-bgc-color: #DC3545;
$btn-reset-bgc-color: #00AAA6;
$font-color--light: #E1E6EB;
$font-color--dark: #363637;
$font-color--highlight: #01EBE6;

$xs-size: 0.8rem;
$s-size: 1rem;
$m-size: 1.2rem;
$l-size: 1.6rem;
$xl-size: 3.6rem;

$l-btn-height: 50px;
$s-btn-height: 30px;

$input-width: 200px;

$shadow: 3px 4px 3px 2px rgba(0, 0, 0, 0.75);
$text-shadow: 1px 1px rgba(0, 0, 0, 0.75);