.hidden {
    display: none;
}

.invisible {
    visibility: hidden;
    opacity: 0;
    transition: .3s;
}

.inactive {
    pointer-events: none
}

.u-justity-start {
    justify-content: flex-start !important;
}